# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Relatórios de varredura
relatorio_varredura_*.txt
relatorio_varredura_*.csv

# Exceção - Permite o requirements.txt
!requirements.txt

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db